@keyframes animate-menu-4 {
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }

    30% {
        transform: rotateX(50deg);
    }

    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

li:hover > ul.drop-menu.menu-4 {
    perspective: 1000px;
}

li:hover > ul.drop-menu.menu-4 li:nth-child(1) {
    opacity: 0;
    transform-origin: top left;

    animation-name: animate-menu-4;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

li:hover > ul.drop-menu.menu-4 li:nth-child(2) {
    opacity: 0;
    transform-origin: top left;

    animation-name: animate-menu-4;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

li:hover > ul.drop-menu.menu-4 li:nth-child(3) {
    opacity: 0;
    transform-origin: top left;

    animation-name: animate-menu-4;
    animation-duration: .9s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

li:hover > ul.drop-menu.menu-4 li:nth-child(4) {
    opacity: 0;
    transform-origin: top left;

    animation-name: animate-menu-4;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

li:hover > ul.drop-menu.menu-4 li:nth-child(5) {
    opacity: 0;
    transform-origin: top left;

    animation-name: animate-menu-4;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}