@keyframes animate-menu-6 {
    0% {
        opacity: 0;
        transform: scale(1, 1) translateY(-30px);
    }

    30% {
        transform: scale(1.5, 1.5) translateY(-15px);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1) ranslateY(0px);
    }
}

li:hover > ul.drop-menu.menu-6 {
    perspective: 1000px;
}

li:hover > ul.drop-menu.menu-6 li:nth-child(1) {
    opacity: 0;
    transform-origin: top left;

    animation-name: animate-menu-6;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

li:hover > ul.drop-menu.menu-6 li:nth-child(2) {
    opacity: 0;
    transform-origin: top left;

    animation-name: animate-menu-6;
    animation-duration: .6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

li:hover > ul.drop-menu.menu-6 li:nth-child(3) {
    opacity: 0;
    transform-origin: top left;

    animation-name: animate-menu-6;
    animation-duration: .9s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

li:hover > ul.drop-menu.menu-6 li:nth-child(4) {
    opacity: 0;
    transform-origin: top left;

    animation-name: animate-menu-6;
    animation-duration: 1.2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

li:hover > ul.drop-menu.menu-6 li:nth-child(5) {
    opacity: 0;
    transform-origin: top left;

    animation-name: animate-menu-6;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}